In [75]:
# importing
import pandas as pd

In [76]:
tyre_data = pd.read_csv("data/tyre_data_drRef.csv")

In [77]:
tyre_data.head()

,Unnamed: 0,Driver,GP,Tyres,From,To,#Laps,year,location,raceId,driverId,driverRef
0,0,Jenson Button,Australia,Soft Used,1,16,16,2012,Adelaide,860,18.0,button
1,1,Jenson Button,Australia,Medium New,17,36,20,2012,Adelaide,860,18.0,button
2,2,Jenson Button,Australia,Medium New,37,58,22,2012,Adelaide,860,18.0,button
3,3,Sebastian Vettel,Australia,Soft Used,1,16,16,2012,Adelaide,860,20.0,vettel
4,4,Sebastian Vettel,Australia,Soft Used,17,37,21,2012,Adelaide,860,20.0,vettel

In [78]:
tyre_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13302 entries, 0 to 13301
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13302 non-null  int64
 1   Driver      13297 non-null  object
 2   GP          13302 non-null  object
 3   Tyres       13302 non-null  object
 4   From        13302 non-null  int64
 5   To          13302 non-null  int64
 6   #Laps       13302 non-null  int64
 7   year        13302 non-null  int64
 8   location    11353 non-null  object
 9   raceId      13302 non-null  int64
 10  driverId    13164 non-null  float64
 11  driverRef   13297 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 1.2+ MB

In [79]:
tyre_data.Tyres.unique()

array(['Soft Used', 'Medium New', 'Soft New', 'Medium Used',
       'Intermediate New', 'Wet New', 'Hard New', 'Intermediate Used',
       'Lluvia Extrema Usado', 'Hard Used', 'Supersoft Used',
       'Supersoft New', 'Ultrasoft New', 'Ultrasoft Used',
       'Hiper Blando Usado', 'Hiper Blando Nuevo'], dtype=object)

In [80]:
# Define a dictionary to map old values to new values
tyres_mapping = {
    'Hiper Blando Usado': 'Hyper Soft',
    'Hiper Blando Nuevo': 'Hyper Soft',
    'Lluvia Extrema Usado': 'Full Wet'
}

# Use the replace() method to update the values in the "tyres" column
tyre_data['Tyres'] = tyre_data['Tyres'].replace(tyres_mapping)

In [81]:
# Remove " Used" and " New" from the 'tyres' column
tyre_data['Tyres'] = tyre_data['Tyres'].str.replace(' Used', '').str.replace(' New', '')

# Print the DataFrame to verify the changes
print(tyre_data)

       Unnamed: 0            Driver           GP         Tyres  From  To
0               0     Jenson Button    Australia          Soft     1  16  \
1               1     Jenson Button    Australia        Medium    17  36
2               2     Jenson Button    Australia        Medium    37  58
3               3  Sebastian Vettel    Australia          Soft     1  16
4               4  Sebastian Vettel    Australia          Soft    17  37
...           ...               ...          ...           ...   ...  ..
13297       13297       Zhou Guanyu  Netherlands          Soft    38  60
13298       13298    Logan Sargeant  Netherlands          Soft     1  14
13299       13299    Max Verstappen  Netherlands  Intermediate    65  72
13300       13300      Pierre Gasly  Netherlands          Soft    47  60
13301       13301   Nico Hulkenberg  Netherlands        Medium    17  48

       #Laps  year   location  raceId  driverId   driverRef
0         16  2012   Adelaide     860      18.0      button
1         20  2012   Adelaide     860      18.0      button
2         22  2012   Adelaide     860      18.0      button
3         16  2012   Adelaide     860      20.0      vettel
4         21  2012   Adelaide     860      20.0      vettel
...      ...   ...        ...     ...       ...         ...
13297     23  2023  Zandvoort    1111       NaN      guanyu
13298     14  2023  Zandvoort    1111     858.0    sargeant
13299      8  2023  Zandvoort    1111      50.0  verstappen
13300     14  2023  Zandvoort    1111     842.0       gasly
13301     32  2023  Zandvoort    1111     807.0  hulkenberg

[13302 rows x 12 columns]

In [82]:
tyre_data.Tyres.unique()

array(['Soft', 'Medium', 'Intermediate', 'Wet', 'Hard', 'Full Wet',
       'Supersoft', 'Ultrasoft', 'Hyper Soft'], dtype=object)

In [83]:
# Drop the "Unnamed: 0" column
tyre_data.drop('Unnamed: 0', axis=1, inplace=True)

tyre_data.head()

,Driver,GP,Tyres,From,To,#Laps,year,location,raceId,driverId,driverRef
0,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,button
1,Jenson Button,Australia,Medium,17,36,20,2012,Adelaide,860,18.0,button
2,Jenson Button,Australia,Medium,37,58,22,2012,Adelaide,860,18.0,button
3,Sebastian Vettel,Australia,Soft,1,16,16,2012,Adelaide,860,20.0,vettel
4,Sebastian Vettel,Australia,Soft,17,37,21,2012,Adelaide,860,20.0,vettel

In [84]:
races_with_dummies_df = pd.read_csv("data/races_with_dummies.csv")

In [85]:
races_with_dummies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   raceId            1102 non-null   int64
 1   year              1102 non-null   int64
 2   round             1102 non-null   int64
 3   circuitId         1102 non-null   int64
 4   name              1102 non-null   object
 5   date              1102 non-null   object
 6   time              1102 non-null   object
 7   url               1102 non-null   object
 8   fp1_date          1102 non-null   object
 9   fp1_time          1102 non-null   object
 10  fp2_date          1102 non-null   object
 11  fp2_time          1102 non-null   object
 12  fp3_date          1102 non-null   object
 13  fp3_time          1102 non-null   object
 14  quali_date        1102 non-null   object
 15  quali_time        1102 non-null   object
 16  sprint_date       1102 non-null   object
 17  sprint_time       1102 non-null   object
 18  weather_category  1102 non-null   object
 19  weather_cloudy    1102 non-null   bool
 20  weather_cold      1102 non-null   bool
 21  weather_dry       1102 non-null   bool
 22  weather_unknown   1102 non-null   bool
 23  weather_warm      1102 non-null   bool
 24  weather_wet       1102 non-null   bool
dtypes: bool(6), int64(4), object(15)
memory usage: 170.2+ KB

In [86]:
races_with_dummies_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,...,quali_time,sprint_date,sprint_time,weather_category,weather_cloudy,weather_cold,weather_dry,weather_unknown,weather_warm,weather_wet
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,weather_warm,False,False,False,False,True,False
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,...,\N,\N,\N,weather_dry,False,False,True,False,False,False
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,...,\N,\N,\N,weather_wet,False,False,False,False,False,True
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,...,\N,\N,\N,weather_warm,False,False,False,False,True,False
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,...,\N,\N,\N,weather_warm,False,False,False,False,True,False

In [87]:
circuits_df = pd.read_csv("data/circuits.csv")

In [88]:
circuits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB

In [89]:
circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [90]:
results_df = pd.read_csv("data/results.csv")

In [91]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  int64
 1   raceId           25840 non-null  int64
 2   driverId         25840 non-null  int64
 3   constructorId    25840 non-null  int64
 4   number           25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time             25840 non-null  object
 12  milliseconds     25840 non-null  object
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.5+ MB

In [92]:
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [93]:
# Create a new DataFrame 'results_df' with selected columns from 'merged_df'
results_df = results_df[['raceId', 'driverId', 'grid', 'positionOrder', 'laps', 'time', 'milliseconds']]

# Print 'results_df' to verify
print(results_df)

       raceId  driverId  grid  positionOrder  laps         time milliseconds
0          18         1     1              1    58  1:34:50.616      5690616
1          18         2     5              2    58       +5.478      5696094
2          18         3     7              3    58       +8.163      5698779
3          18         4    11              4    58      +17.181      5707797
4          18         5     3              5    58      +18.014      5708630
...       ...       ...   ...            ...   ...          ...          ...
25835    1096       854    12             16    57           \N           \N
25836    1096       825    16             17    57           \N           \N
25837    1096         1     5             18    55           \N           \N
25838    1096       849    20             19    55           \N           \N
25839    1096         4    10             20    27           \N           \N

[25840 rows x 7 columns]

In [94]:
drivers_df = pd.read_csv("data/drivers.csv")

In [95]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB

In [96]:
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [97]:
pit_stops_df = pd.read_csv("data/pit_stops.csv")

In [98]:
pit_stops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9634 entries, 0 to 9633
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9634 non-null   int64
 1   driverId      9634 non-null   int64
 2   stop          9634 non-null   int64
 3   lap           9634 non-null   int64
 4   time          9634 non-null   object
 5   duration      9634 non-null   object
 6   milliseconds  9634 non-null   int64
dtypes: int64(5), object(2)
memory usage: 527.0+ KB

In [99]:
pit_stops_df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

Merging the 6 dataframes

In [100]:
# Merge the first two dataframes
merged_df = pd.merge(tyre_data, races_with_dummies_df, on=['year'], how='inner')

In [101]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269946 entries, 0 to 269945
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Driver            269835 non-null  object
 1   GP                269946 non-null  object
 2   Tyres             269946 non-null  object
 3   From              269946 non-null  int64
 4   To                269946 non-null  int64
 5   #Laps             269946 non-null  int64
 6   year              269946 non-null  int64
 7   location          231048 non-null  object
 8   raceId_x          269946 non-null  int64
 9   driverId          266840 non-null  float64
 10  driverRef         269835 non-null  object
 11  raceId_y          269946 non-null  int64
 12  round             269946 non-null  int64
 13  circuitId         269946 non-null  int64
 14  name              269946 non-null  object
 15  date              269946 non-null  object
 16  time              269946 non-null  object
 17  url               269946 non-null  object
 18  fp1_date          269946 non-null  object
 19  fp1_time          269946 non-null  object
 20  fp2_date          269946 non-null  object
 21  fp2_time          269946 non-null  object
 22  fp3_date          269946 non-null  object
 23  fp3_time          269946 non-null  object
 24  quali_date        269946 non-null  object
 25  quali_time        269946 non-null  object
 26  sprint_date       269946 non-null  object
 27  sprint_time       269946 non-null  object
 28  weather_category  269946 non-null  object
 29  weather_cloudy    269946 non-null  bool
 30  weather_cold      269946 non-null  bool
 31  weather_dry       269946 non-null  bool
 32  weather_unknown   269946 non-null  bool
 33  weather_warm      269946 non-null  bool
 34  weather_wet       269946 non-null  bool
dtypes: bool(6), float64(1), int64(8), object(20)
memory usage: 61.3+ MB

In [102]:
# Merge the next dataframe
merged_df = pd.merge(merged_df, circuits_df, on='circuitId', how='inner')

In [103]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269946 entries, 0 to 269945
Data columns (total 43 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Driver            269835 non-null  object
 1   GP                269946 non-null  object
 2   Tyres             269946 non-null  object
 3   From              269946 non-null  int64
 4   To                269946 non-null  int64
 5   #Laps             269946 non-null  int64
 6   year              269946 non-null  int64
 7   location_x        231048 non-null  object
 8   raceId_x          269946 non-null  int64
 9   driverId          266840 non-null  float64
 10  driverRef         269835 non-null  object
 11  raceId_y          269946 non-null  int64
 12  round             269946 non-null  int64
 13  circuitId         269946 non-null  int64
 14  name_x            269946 non-null  object
 15  date              269946 non-null  object
 16  time              269946 non-null  object
 17  url_x             269946 non-null  object
 18  fp1_date          269946 non-null  object
 19  fp1_time          269946 non-null  object
 20  fp2_date          269946 non-null  object
 21  fp2_time          269946 non-null  object
 22  fp3_date          269946 non-null  object
 23  fp3_time          269946 non-null  object
 24  quali_date        269946 non-null  object
 25  quali_time        269946 non-null  object
 26  sprint_date       269946 non-null  object
 27  sprint_time       269946 non-null  object
 28  weather_category  269946 non-null  object
 29  weather_cloudy    269946 non-null  bool
 30  weather_cold      269946 non-null  bool
 31  weather_dry       269946 non-null  bool
 32  weather_unknown   269946 non-null  bool
 33  weather_warm      269946 non-null  bool
 34  weather_wet       269946 non-null  bool
 35  circuitRef        269946 non-null  object
 36  name_y            269946 non-null  object
 37  location_y        269946 non-null  object
 38  country           269946 non-null  object
 39  lat               269946 non-null  float64
 40  lng               269946 non-null  float64
 41  alt               269946 non-null  object
 42  url_y             269946 non-null  object
dtypes: bool(6), float64(3), int64(8), object(26)
memory usage: 77.7+ MB

In [104]:
# Merge the drivers_df dataframe
merged_df = pd.merge(merged_df, drivers_df, on=['driverId','driverRef'], how='inner')

In [105]:
merged_df.head()

,Driver,GP,Tyres,From,To,#Laps,year,location_x,raceId_x,driverId,...,lng,alt,url_y,number,code,forename,surname,dob,nationality,url
0,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
1,Jenson Button,Australia,Medium,17,36,20,2012,Adelaide,860,18.0,...,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
2,Jenson Button,Australia,Medium,37,58,22,2012,Adelaide,860,18.0,...,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
3,Jenson Button,Malaysia,Intermediate,1,4,4,2012,Kuala Lumpur,861,18.0,...,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
4,Jenson Button,Malaysia,Wet,5,13,9,2012,Kuala Lumpur,861,18.0,...,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button

In [106]:
merged_df.columns

Index(['Driver', 'GP', 'Tyres', 'From', 'To', '#Laps', 'year', 'location_x',
       'raceId_x', 'driverId', 'driverRef', 'raceId_y', 'round', 'circuitId',
       'name_x', 'date', 'time', 'url_x', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
       'sprint_date', 'sprint_time', 'weather_category', 'weather_cloudy',
       'weather_cold', 'weather_dry', 'weather_unknown', 'weather_warm',
       'weather_wet', 'circuitRef', 'name_y', 'location_y', 'country', 'lat',
       'lng', 'alt', 'url_y', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'url'],
      dtype='object')

In [107]:
# List of columns to drop
columns_to_drop = ['fp1_date', 'fp1_time', 'fp2_date','fp2_time','fp3_date','fp3_time','quali_date','quali_time','sprint_date','sprint_time','lat','lng','url']

# Drop the specified columns
merged_df.drop(columns_to_drop, axis=1, inplace=True)

# Print the updated DataFrame
print(merged_df)

                Driver            GP         Tyres  From  To  #Laps  year
0        Jenson Button     Australia          Soft     1  16     16  2012  \
1        Jenson Button     Australia        Medium    17  36     20  2012
2        Jenson Button     Australia        Medium    37  58     22  2012
3        Jenson Button      Malaysia  Intermediate     1   4      4  2012
4        Jenson Button      Malaysia           Wet     5  13      9  2012
...                ...           ...           ...   ...  ..    ...   ...
253843  Nikita Mazepin        Brazil          Hard    35  69     35  2021
253844  Nikita Mazepin         Qatar        Medium     1  31     31  2021
253845  Nikita Mazepin         Qatar          Soft    32  55     24  2021
253846  Nikita Mazepin  Saudi Arabia        Medium     1  13     13  2021
253847  Nikita Mazepin  Saudi Arabia          Hard    14  14      1  2021

            location_x  raceId_x  driverId  ... location_y       country  alt
0             Adelaide       860      18.0  ...  Melbourne     Australia   10  \
1             Adelaide       860      18.0  ...  Melbourne     Australia   10
2             Adelaide       860      18.0  ...  Melbourne     Australia   10
3         Kuala Lumpur       861      18.0  ...  Melbourne     Australia   10
4         Kuala Lumpur       861      18.0  ...  Melbourne     Australia   10
...                ...       ...       ...  ...        ...           ...  ...
253843  Rio de Janeiro      1071     853.0  ...     Jeddah  Saudi Arabia   15
253844       Al Daayen      1051     853.0  ...     Jeddah  Saudi Arabia   15
253845       Al Daayen      1051     853.0  ...     Jeddah  Saudi Arabia   15
253846          Jeddah      1072     853.0  ...     Jeddah  Saudi Arabia   15
253847          Jeddah      1072     853.0  ...     Jeddah  Saudi Arabia   15

                                                    url_y number code
0       http://en.wikipedia.org/wiki/Melbourne_Grand_P...     22  BUT  \
1       http://en.wikipedia.org/wiki/Melbourne_Grand_P...     22  BUT
2       http://en.wikipedia.org/wiki/Melbourne_Grand_P...     22  BUT
3       http://en.wikipedia.org/wiki/Melbourne_Grand_P...     22  BUT
4       http://en.wikipedia.org/wiki/Melbourne_Grand_P...     22  BUT
...                                                   ...    ...  ...
253843  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...      9  MAZ
253844  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...      9  MAZ
253845  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...      9  MAZ
253846  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...      9  MAZ
253847  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...      9  MAZ

       forename  surname         dob  nationality
0        Jenson   Button  1980-01-19      British
1        Jenson   Button  1980-01-19      British
2        Jenson   Button  1980-01-19      British
3        Jenson   Button  1980-01-19      British
4        Jenson   Button  1980-01-19      British
...         ...      ...         ...          ...
253843   Nikita  Mazepin  1999-03-02      Russian
253844   Nikita  Mazepin  1999-03-02      Russian
253845   Nikita  Mazepin  1999-03-02      Russian
253846   Nikita  Mazepin  1999-03-02      Russian
253847   Nikita  Mazepin  1999-03-02      Russian

[253848 rows x 37 columns]

In [108]:
merged_df.columns

Index(['Driver', 'GP', 'Tyres', 'From', 'To', '#Laps', 'year', 'location_x',
       'raceId_x', 'driverId', 'driverRef', 'raceId_y', 'round', 'circuitId',
       'name_x', 'date', 'time', 'url_x', 'weather_category', 'weather_cloudy',
       'weather_cold', 'weather_dry', 'weather_unknown', 'weather_warm',
       'weather_wet', 'circuitRef', 'name_y', 'location_y', 'country', 'alt',
       'url_y', 'number', 'code', 'forename', 'surname', 'dob', 'nationality'],
      dtype='object')

In [110]:
merged_df.head()

,Driver,GP,Tyres,From,To,#Laps,year,location_x,raceId_x,driverId,...,location_y,country,alt,url_y,number,code,forename,surname,dob,nationality
0,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Melbourne,Australia,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British
1,Jenson Button,Australia,Medium,17,36,20,2012,Adelaide,860,18.0,...,Melbourne,Australia,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British
2,Jenson Button,Australia,Medium,37,58,22,2012,Adelaide,860,18.0,...,Melbourne,Australia,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British
3,Jenson Button,Malaysia,Intermediate,1,4,4,2012,Kuala Lumpur,861,18.0,...,Melbourne,Australia,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British
4,Jenson Button,Malaysia,Wet,5,13,9,2012,Kuala Lumpur,861,18.0,...,Melbourne,Australia,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,22,BUT,Jenson,Button,1980-01-19,British

In [111]:
# Print only the 'raceId_x' and 'raceId_y' columns from 'merged_df'
print(merged_df[['raceId_x', 'raceId_y']])

        raceId_x  raceId_y
0            860       860
1            860       860
2            860       860
3            861       860
4            861       860
...          ...       ...
253843      1071      1072
253844      1051      1072
253845      1051      1072
253846      1072      1072
253847      1072      1072

[253848 rows x 2 columns]

In [109]:
# Merge the results_df dataframe
merged_df = pd.merge(merged_df, results_df, on=['driverId','raceId'], how='inner')

KeyError: 'raceId'

In [ ]:
# Merge the results_df dataframe
#merged_df = pd.merge(merged_df, results_df, on=['raceId', 'driverId'], how='inner')

In [ ]:
merged_df.head(40)

,Driver,GP,Tyres,From,To,#Laps,year,location_x,raceId_x,driverId,...,forename,surname,dob,nationality,raceId,grid,positionOrder,laps,time_y,milliseconds
0,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,18,12,18,0,\N,\N
1,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,19,11,10,56,+1:26.214,5564769
2,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,20,9,21,19,\N,\N
3,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,21,13,6,66,+53.010,5952061
4,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,22,13,11,57,\N,\N
5,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,23,11,11,75,\N,\N
6,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,24,20,11,70,+1:07.540,5851767
7,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,25,16,20,16,\N,\N
8,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,26,17,15,38,\N,\N
9,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,27,14,17,66,\N,\N
10,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,28,12,12,69,\N,\N
11,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,29,16,13,56,\N,\N
12,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,30,17,15,43,\N,\N
13,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,31,19,15,53,+1:13.370,5280864
14,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,32,12,9,61,+19.885,7056189
15,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,33,18,14,66,\N,\N
16,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,34,18,16,55,\N,\N
17,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,35,17,13,70,\N,\N
18,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,36,14,15,57,\N,\N
19,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,37,15,12,55,\N,\N
20,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,38,16,21,0,\N,\N
21,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,39,14,12,64,\N,\N
22,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,40,10,11,77,\N,\N
23,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,41,15,20,0,\N,\N
24,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,42,13,12,72,\N,\N
25,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,43,12,8,70,+58.885,5513085
26,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,44,18,10,58,\N,\N
27,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,45,17,18,2,\N,\N
28,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,46,17,21,35,\N,\N
29,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,47,21,13,57,\N,\N
30,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,48,10,8,53,+1:02.168,4779974
31,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,49,12,18,36,\N,\N
32,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,50,6,11,66,\N,\N
33,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,51,10,5,56,+1:08.666,5947061
34,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,52,16,19,20,\N,\N
35,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,53,3,4,57,+19.992,5406197
36,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,54,2,3,56,+9.631,5450160
37,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,55,1,10,56,\N,\N
38,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,56,2,7,62,+39.635,5506121
39,Jenson Button,Australia,Soft,1,16,16,2012,Adelaide,860,18.0,...,Jenson,Button,1980-01-19,British,57,6,18,28,\N,\N

In [ ]:
# Merge the results_df dataframe
merged_df = pd.merge(merged_df, results_df, on=['raceId', 'driverId'], how='inner')

# Merge the drivers_df dataframe
merged_df = pd.merge(merged_df, drivers_df, on='driverId', how='inner')

# Merge the pit_stops_df dataframe
merged_df = pd.merge(merged_df, pit_stops_df, on=['raceId', 'driverId'], how='inner')

# Now you have merged all your dataframes into one comprehensive dataframe (merged_df)

KeyboardInterrupt:

In [ ]:
print("Column names in tyre_data_cleaned:")
print(tyre_data_cleaned.columns)

print("\nColumn names in races_with_dummies_df:")
print(races_with_dummies_df.columns)

Column names in tyre_data_cleaned:
Index(['driver', 'gp', 'tyres', 'from', 'to', '#laps', 'year'], dtype='object')

Column names in races_with_dummies_df:
Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url',
       'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time',
       'weather_category', 'weather_cloudy', 'weather_cold', 'weather_dry',
       'weather_unknown', 'weather_warm', 'weather_wet'],
      dtype='object')

In [ ]:
print("Data types in tyre_data_cleaned:")
print(tyre_data_cleaned.dtypes)

print("\nData types in races_with_dummies_df:")
print(races_with_dummies_df.dtypes)

Data types in tyre_data_cleaned:
driver    object
gp        object
tyres     object
from       int64
to         int64
#laps      int64
year       int64
dtype: object

Data types in races_with_dummies_df:
raceId               int64
year                 int64
round                int64
circuitId            int64
name                object
date                object
time                object
url                 object
fp1_date            object
fp1_time            object
fp2_date            object
fp2_time            object
fp3_date            object
fp3_time            object
quali_date          object
quali_time          object
sprint_date         object
sprint_time         object
weather_category    object
weather_cloudy        bool
weather_cold          bool
weather_dry           bool
weather_unknown       bool
weather_warm          bool
weather_wet           bool
dtype: object

In [ ]:
print("Duplicate column names in tyre_data_cleaned:")
print(tyre_data_cleaned.columns[tyre_data_cleaned.columns.duplicated()])

print("\nDuplicate column names in races_with_dummies_df:")
print(races_with_dummies_df.columns[races_with_dummies_df.columns.duplicated()])

Duplicate column names in tyre_data_cleaned:
Index([], dtype='object')

Duplicate column names in races_with_dummies_df:
Index([], dtype='object')

In [ ]:
# Merge with just the 'year' column from tyre_data_cleaned and 'year' column from races_with_dummies_df
merged_df = pd.merge(tyre_data_cleaned[['year']], races_with_dummies_df[['year']], on='year', how='inner')

In [ ]:
# Merge with just the 'year' column from tyre_data_cleaned and 'year' column from races_with_dummies_df
merged_df = pd.merge(tyre_data_cleaned[['year']], races_with_dummies_df[['year']], on='year', how='inner')

In [ ]:
# Merge with 'year' and 'gp' columns
merged_df = pd.merge(merged_df, tyre_data_cleaned[['year', 'gp']], on=['year', 'gp'], how='inner')

# Continue adding columns one by one
# merged_df = pd.merge(merged_df, other_dataframe[['column_name']], on='column_name', how='inner')

KeyError: 'gp'